{{#if loggedIn}}
<div>
    <button><a href="/profile">+ submit new blog</a></button>
</div>
{{/if}}
<div>
    <h1>recent posts:</h1>
    <ul>
        {{#each blogs}}

        <li class="p-1" id={{id}}>
            <div class="card">
                <div class="card-title">
                    <h3 class="p-1">{{name}}</h3>
                </div>
                <div class="card-content">
                    <h6 class="p-1">{{body}}</h6>
                    <p>Comments: </p>
                    </br>
                </div>
                {{#each blogs}}
                <p>{{body}}</p>
                {{/each}}
            </div>
            {{#if loggedIn}}
            
            {{/if}}
        </li>

        {{/each}}
    </ul>
</div>

{{#unless loggedIn}}
<div class="description">
    <p>
        Welcome to the Tech Blog! login to get started Or create a new account!
    </p>
</div>
{{/unless}}

<script src="/js/profile.js"></script>
